.header{
  padding-top: 60px;
  padding-left: 28px;

  &__logo{
    cursor: pointer;
    
    &--image{
      display: block;
    }
  }

  @include max(780px){
    padding-left: 0;
  }

  @include max(415px){
    &__logo{
      &--image{
        width: 113px;
        height: 34px;
      }
    }
  }
}